# Windows Server 2016
image: Visual Studio 2017

environment:
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    WITH_COMPILER: "cmd /E:ON /V:ON /C .\\build-scripts\\run_with_compiler.cmd"
    CREDSSP_SERVER: 127.0.0.1

  matrix:
  # https://www.appveyor.com/docs/installed-software/#python
  - PYTHON: Python27
  - PYTHON: Python27-x64
  - PYTHON: Python34
  - PYTHON: Python34-x64
  - PYTHON: Python35
  - PYTHON: Python35-x64
  - PYTHON: Python36
  - PYTHON: Python36-x64

init:
- ps: |
    # Override default Python version/architecture
    $env:Path="C:\$env:PYTHON;C:\$env:PYTHON\Scripts;$env:PATH"
    python -c "import platform; print('Python', platform.python_version(), platform.architecture()[0])"

    $env:CREDSSP_USERNAME = $($env:USERNAME)
    $env:CREDSSP_PASSWORD = [Microsoft.Win32.Registry]::GetValue("HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Winlogon", "DefaultPassword", '')

    winrm quickconfig -quiet
    $hostname = $env:computername
    $c = New-SelfSignedCertificate -DnsName $hostname -CertStoreLocation cert:\LocalMachine\My
    winrm create winrm/config/Listener?Address=*+Transport=HTTPS "@{Hostname=`"$hostname`";CertificateThumbprint=`"$($c.ThumbPrint)`"}"

    # Enable CredSSP on WinRM listener
    Enable-WSManCredSSP -Role Server -Force
    Set-Item -Path "WSMan:\localhost\Service\Auth\CredSSP" -Value $true
    Set-Item -Path "WSMan:\localhost\Service\AllowUnencrypted" -Value $false

install:
- ps: |
    pip install -U pip setuptools
    pip install .
    pip install -r requirements-test.txt

build: off

test_script:
- ps: py.test -v --pep8 --cov requests_credssp --cov-report term-missing

matrix:
  fast_finish: true
